# Python
__pycache__/
*.pyc

# Environment files
.env

# Docker
*.log
*.pid

# macOS
.DS_Store

# Virtual environments
venv/
env/

# IDE/editor folders
.vscode/
.idea/

# Byte-compiled
*.pyo
*.pyd

# Other
*.sqlite3
